<!DOCTYPE html>
<html>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <div class="navbar">
            <a>{% block a %}{% endblock %}</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; Team Summit 2024</p>
            </footer>
        </div>
    </body>
</html>